{%extends 'thenation/basic.html'%}
{% load instagram_client %}

{%block title%}Shailendra Photo's{%endblock%}


{% load static %}
{%block body%}
<div id="" class="home">


  <!-- start section services -->
  <div id="services">
    <div class="container mt-5 m">

    
<!-- start section portfolio -->
<div id="portfolio" class="text-center paddsection">

    <div class="container">
      <div class="section-title text-center">
        <h2>Photo's Of Shailendra</h2>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">

     

          <div class="container">

            {% for media in images %}
              
            <div class="col-lg-4 col-md-6 ">
              <a class="popup-img" href="{{media.imageurl.url}}" >

                <img src="{{ media.imageurl.url }}"/ title="{{media.title}}" alt="{{media.title}}" action="{{media.title}}">

              </a>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- End section portfolio -->
  </div>
  </div>
  </div>


  
  {%endblock%}